* {
  background-color: #eef6f9;
}

.bg {
  background-color: rgb(42, 136, 165);
  border-radius: 20px;
}

.input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
.bar {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: flex-end;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
img {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
}
.one {
  margin-right: 600px;
  text-align: left;
  background-color: #99d9f1;
}
.text {
  height: 240px;
  width: 600px;
  text-align: left;
  background-color: #99d9f1;
}
.back {
  width: 600px;
  height: 20px;
  text-align: left;
  margin: 30px;
  padding: 50px;
  /* background-image: url("../pictures/download-1.png"); */
}
.two {
  padding: 50px;
  margin-bottom: -30px;
  background-color: #99d9f1;
  text-align: center;
}
.twwo {
  padding: 50px;
  margin-bottom: -30px;
  background-color: #99d9f1;
  text-align: left;
}
.tooo {
  background-color: #99d9f1;
  margin-right: 400px;
  text-align: left;
}
.qwe {
  background-color: #99d9f1;
}
.three {
  background-color: #99d9f1;
  margin: 70px;
  margin-top: 0px;
  margin-bottom: -10px;
  padding: 70px;
  text-align: left;
}

.img11 {
  border-radius: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 120px;
  height: 250px;
  width: 250px;
}
.img22 {
  border-radius: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 120px;
  height: 250px;
  width: 250px;
}
.img33 {
  border-radius: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 120px;
  height: 250px;
  width: 250px;
}
.graph {
  background-color: #99d9f1;
  margin: 70px;
  margin-top: 0px;
  margin-bottom: -10px;
  padding: 70px;
  text-align: left;
}
.ga {
  background-color: #99d9f1;
}
.icon {
  margin-bottom: -600px;
  height: 600px;
  width: 1000px;
  padding-left: 100px;
  margin-left: -100px;
}
.color {
  /* background-image: url("//pictures/aboutus image2.jpeg"); */
}

.paint {
  margin-left: -1000px;
  width: 200px;
  margin-top: 30px;
}
.img1 {
  font-size: 30px;
}
.img2 {
  font-size: 30px;
}
.img3 {
  font-size: 30px;
}
.imgg33 {
  background-color: white;
  border-radius: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 120px;
  height: 250px;
  width: 250px;
}
