/* .group-648 {
	align-items: center;
	display: flex;
	min-width: 1640px;
  }
  
  .logo {
	height: 68px;
	object-fit: cover;
	width: 263px;
  }
   */



 img{
width: 140px;
}
.form-control{
	margin: auto;
}